
<form>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control">
        </div>
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="price" type="number" class="form-control">
        </div>       
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" class="form-control">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Save</button>
    </form>